.photosAndMainInfo{
    display: flex;
    gap: 30px;
    margin-bottom: 30px;
}

.carousel{
    width: 256px;
}


.image{
    object-fit: cover;
}

.cards{
    display: flex;
    gap: 10px;
    justify-content: stretch;
}

.card{
    width: 50%;
}
