.wrapperCharts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
}

.wrapperChart {
    display: flex;
    flex-direction: column;
    align-items: center;
}
