.wrapperMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    height: 50px;
    display: flex;
    align-items: stretch;
}

.menuItem {
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    transition: .5s all ease;
    background-color: #0094E9;
}

.menuItem:hover {
    background-color: #C5C5C5;
    color: black;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownButton {
    height: 100%;
}

.dropdownContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 300px;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdown:hover .dropdownButton {
    background-color: #C5C5C5;
    color: black;
}

.searchWrapper {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
