* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 550;
    font-family: 'Mukta', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.wrapperHeader {
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: space-between;
}

header {
    font-size: 30px;
    font-weight: 600;
}

.ant-input-group-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
}

a {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background-color: white;
}

::-webkit-scrollbar-thumb {
    background-color: #CFD3E4;
    border-radius: 20px;
}

.ant-carousel .slick-dots {
    top: 90%;
}


.row-dragging {
    background: #fafafa;
    border: 1px solid #ccc;
}

.row-dragging td {
    padding: 16px;
}

.row-dragging .drag-visible {
    visibility: visible;
}


.errorMessage {
    font-size: 14px;
    color: red;
}


.badge {
    background-color: #1890FF;
    border-radius: 5px;
    padding: 0 4px;
    font-size: 14px;
}

.buttonSubmit {
    background-color: #ff5722;
    transition: .5s all ease;
    padding: 5px 10px;
    border-radius: 5px;
    text-transform: uppercase;
    color: white;
}

.buttonSubmit:hover {
    background-color: #5EC2F4;
}



.infoTable, .infoTable tr, .infoTable td{
    padding: 5px;
}

.infoTable tr td:first-child{
    color: grey;
}

.infoTable tr td:last-child > *{
    border-bottom: 2px dotted gray;
}


.bold{
    font-weight: bold;
}

.search {
    max-width: 600px;
}
