.wrapperPages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
}

.pages {
    display: flex;
    align-items: center;
    gap: 20px;
    height: 25px;
}
